body {
    background-color: #f8f9fa;
}
.container {
    max-width: 900px;
}
.jumbotron {
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}
.btn {
    font-size: 18px;
    padding: 12px 20px;
}
